:host {

  background-color: #fcfacd;
  display: block;

  section {
    display: flex;
    flex-direction: column;
  }

  .listElement {
    max-width: 550px;
    border: solid 2px #444444;
    margin: 20px 0 20px 0;
  }

  img {
    max-width: 250px;
    max-height: 250px;
  }

  .sortingButtons {
    align-self: center;
  }

  .sortingButton {
    float:left;
    margin: 10px;
  }

  #adopted {
    border: 5px solid #0fde00;
  }

  #notAdopted {
    border: 5px solid #c70808;
  }
}
